/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
/* HTML element (SMACSS base) rules */
@import "normalize";
/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; desch*/

// Variables.
$color: #daa675;
$font: "MYRIADPRO-REGULAR";
$fontRalewayExtraLight: "Raleway-ExtraLight";

.hidden {
  display: none;
}

.clearfix:after {
  content: "";
}

@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url("../fonts/MYRIADPRO-REGULAR.OTF")
}

@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway-ExtraLight.ttf")
}

html {
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

body {
  margin: 0;
  text-align: center;
  font-family: "MYRIADPRO-REGULAR";
  letter-spacing: 1px;
  font-size: 12px;
}

a {
  &:hover {
    color: #000;
  }
}

// Start* admin styles
#admin-menu {
  letter-spacing: 0;
}

.pane-pane-messages {
  letter-spacing: 0;
  text-align: left;
}

.pane-content > .tabs {
  position: absolute;
  top: 20px;
  left: 5px;
  > ul.tabs li {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    padding: 1px 7px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// End* admin styles

.panel-display {
  max-width: 814px;
  margin: auto;
}

@media only screen and (max-width: 825px) {
  .view-display-id-photo_type_links, .view-display-id-video_type_links {
    ul {
      text-align: center !important;
    }
  }
}

//home
.page-homepage {
  .field-type-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.pane-page-logo {
  margin-top: 61px;
  #logo {
    max-width: 130px;
    display: block;
    margin: auto;
    img {
      width: 100%;
    }
  }
}

.pane-system-main-menu {
  .menu-main-menu {
    text-align: center;
    margin: 30px auto 20px auto;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    max-width: 320px;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px;
      top: 1px;
      position: relative;
      @media screen and (max-width: 320px) {
        margin: 0 2px;
      }
      &.first {
        margin: 0 10px 0 5px;
        @media screen and (max-width: 320px) {
          margin: 0 2px;
        }
      }
      &.last {
        margin: 0 5px 0 10px;
        @media screen and (max-width: 320px) {
          margin: 0 2px;
        }
      }
      a {
        font-size: 12px;
        line-height: 12px;
        text-decoration: none;
        color: #000000;
        text-transform: uppercase;
        font-family: $font;
        &:hover, &.active {
          color: #daa675;
        }
      }
    }
  }
}

.page-homepage {
  .pane-system-main-menu {
    .menu-main-menu {
      margin: 30px auto;
    }
  }
}

.pane-content {
  h2.pane-title {
    font-weight: normal;
    margin: 0px 0 10px 0;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.pane-content .pane-moon-core-moon-contact-page-top {
  h2.pane-title {
    color: $color;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
  }
  .pane-content {
    margin-top: 13px;
    span {
      display: block;
      font-weight: 500;
      font-size: 14px;
      font-family: $font;
      margin: 0;
      padding: 0;
      &.first {
        margin-bottom: 12px;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: #000;
      font-size: 14px;
      margin-top: 18px;
    }
  }
}

.page-contact-us {
  #contact-page-social {
    text-align: center;
    margin-top: 22px;
    li {
      a {
        font-size: 14px;
      }
    }
  }
  .pane-contact {
    h2.pane-title {
      font-size: 10.5px;
      margin: 45px 0 0 0;
      font-weight: bold;
    }
  }
}

.pane-moon-core-moon-social {
  text-align: right;
  .pane-content {
    .social-buttons {
      margin: 13px 0 0 0;
      ul {
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          a {
            color: $color;
            font-size: 11px;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 7px;
            &:hover {
              color: #000;
            }
          }
          &.last a {
            margin: 0 0 0 7px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .pane-moon-core-moon-social {
    text-align: center;
    .pane-content {
      .social-buttons {
        a {

        }
      }
    }
  }
}

.pane-moon-core-moon-footer-contact {
  text-align: right;
  margin-top: 11px;
  #wrapp-footer_contact {
    font-size: 11px;
  }
}

@media screen and (max-width: 500px) {
  .pane-moon-core-moon-footer-contact {
    text-align: center;
  }
}

#copyrights {
  margin: 26px 0 10px 0;
  p {
    margin: 0;
  }
}

.contact-form {
  margin-bottom: 40px;
  .form-type-textfield {
    input {
      //width: 87%;
      max-width: 280px;
      display: inline-block;
      background: #fff;
      border: 1px solid #999;
      padding: 5px 12px 3px 12px;
      outline: none;
      margin: 12px auto;
      font-size: 10px;
      font-family: $font;
      //box-shadow: 1px 1px 1px #ccc;
      letter-spacing: 1px;
    }
    label {
      display: none;
    }
  }
  .form-type-textarea {
    display: inline-block;
    position: relative;
    textarea {
      width: 100%;
      max-width: 306px;
      display: inline-block;
      background: #fff;
      border: 1px solid #999;
      padding: 10px 12px;
      outline: none;
      margin: 12px auto;
      font-size: 10px;
      font-family: $font;
      //box-shadow: 1px 1px 1px #ccc;
      letter-spacing: 1px;
    }
    label {
      display: none;
    }
    .grippie {
      background: none;
      border: none;
    }
  }
  .form-actions {
    .form-submit {
      color: $color;
      background-color: #fff;
      border: 1px solid #daa675;
      padding: 6px 15px 4px 15px;
      text-transform: uppercase;
      margin-top: 1px;
      letter-spacing: 1px;
      font-size: 10px;
      &:hover {
        border-color: #999;
      }
    }
  }
}

// Video/Photo categories.
.view-display-id-photo_type_links, .view-display-id-video_type_links {
  .view-content {
    .item-list {
      margin: 0 0 20px 0;
      ul {
        text-align: left;
        padding: 0;
        margin: 0;
      }
      .views-row {
        display: inline-block;
        .views-field-name {
          .field-content {
            a {
              display: inline-block;
              margin: 0 10px 0px 0;
              text-decoration: none;
              color: #000000;
              text-transform: uppercase;
              font-size: 10px;
              &:hover, &.active {
                color: $color;
              }
            }
          }
        }
      }
    }
  }
}

.page-taxonomy {
  .pane-photo {
    .pane-content {
      .view-display-id-photo_main_all, .view-display-id-photo_main {
        .view-content {
          display: flex;
          flex-flow: row wrap;

          /* Then we define how is distributed the remaining space */
          justify-content: space-around;
        }
        .views-row {
          margin: 2px;
          padding: 0;
          max-width: 402px;

          &.views-row-odd {
            margin: 2px 2px 3px 0;
            @media only screen and (max-width: 825px) {
              margin: 2px 0;
            }
          }
          &.views-row-even {
            margin: 2px 2px 3px 2px;
            @media only screen and (max-width: 825px) {
              margin: 2px 0;
            }
          }
          a.article {

            position: relative;
            display: block;
            cursor: pointer;
            .field-name-field-image-multiple {
              img {
                width: 100%;
                height: auto;
                float: left;
                margin: 0;
                padding: 0;
              }
              .field-item {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

//about
.page-about {

  .panel-col {
    position: relative;
  }

  .pane-menu-menu-language-custom {
    position: absolute;
    right: 0;
    top: -13px;
    .pane-content {
      .menu-menu-language-custom {
        text-align: right;
        li {
          display: inline-block;
        }
        a {
          color: #000000;
          text-decoration: none;
          text-transform: lowercase;
          margin: 0 0 0 10px;
          font-size: 11px;
          &:hover, &.active {
            color: $color;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .pane-menu-menu-language-custom {
      position: relative;
      top: 0;
      .pane-content {
        .menu-menu-language-custom {
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  .pane-node-field-about-headline {
    .pane-content {
      .field-name-field-about-headline {
        .field-items {
          .field-item {
            p {
              margin: 0;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .pane-node-body {
    margin-top: 25px;
    .pane-content {
      .field-type-text-with-summary {
        max-width: 520px;
        margin: auto;
        border: 1px solid #666;
        padding: 15px;
        font-size: 14px;
        p {
          margin: 0;
          line-height: 24px;
        }
      }
    }
  }
  // about end
}

// Video
.pane-video {
  .view-id-video {
    .views-row {
      .views-field-field-video {
        margin-bottom: 20px;
      }
      .views-field-title {
        float: left;
        span.field-content {
          text-align: left;
          display: block;
          color: $color;
          padding: 0 0 10px 20px;
        }
      }
      .views-field-field-headline {
        float: left;
        font-size: 12px;
        display: inline-flex;

        &:before {
          content: "/";
          float: left;
          display: inline-flex;
          padding: 0 7px 0 7px;
        }
      }
      .views-field-field-video {
        clear: both;
      }
    }
  }
}

.pane-block .more-videos-content {
  border-top: 1px solid #000;
  padding: 4px 10px 0 10px;
  max-width: 290px;
  margin: 0 auto;
  font-size: 10px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $color;
    &:hover {
      color: #000;
    }
  }
}

// Video end

.on-hover-content {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  color: white;
  font-size: 19px;
  font-family: $fontRalewayExtraLight;
  background: rgba(218, 166, 117, 0.75);
  z-index: 999;
  top: 0;
  overflow: hidden;
  text-align: left;
  span.teaser-title {
    padding: 30px 0 0 30px;
    display: block;
  }

  .field-name-field-headline {
    padding: 4px 0 0 30px;
    display: block;
  }

}

// photo node
.node-type-photo {
  .pane-node-title {
    float: left;
    display: block;
    text-transform: uppercase;
    color: $color;
    padding: 0px 0 0px 25px;
    font-size: 12px;
  }
  .pane-node-field-headline {
    float: left;
    font-size: 12px;
    display: inline-flex;

    &:before {
      content: "/";
      float: left;
      display: inline-flex;
      padding: 0 7px 0 7px;
    }
  }
  .pane-node-field-image-multiple {
    clear: both;
    padding-top: 10px;
    .field-items {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .field-item {
        margin-bottom: 2px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.inflow.scroll-to-top-wrapp {
  z-index: 900;
  width: 20px;
  height: 0px;
  float: right;
  position: relative;
  margin-right: 62px;
  .positioner {
    position: absolute;
    //right: 0;
    .fixed {
      width: 18px;
      .scrollToTop {
        width: 18px;
        height: 18px;
        background: whiteSmoke;
        z-index: 90;
        position: fixed;
        bottom: 30px;
        display: none;
        background: url("../images/go_to_top_btn.png") no-repeat 0px 0px;
        span {
          display: none;
        }
        &:hover {
          background: url("../images/go_to_top_btn.png") no-repeat -19px 0px;
        }
      }
    }
  }
}
