$color: #daa675;
$font: "MYRIADPRO-REGULAR" Regular;

/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; desch*/

.hidden {
  display: none;
}

@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url("../fonts/MYRIADPRO-REGULAR.OTF")
}

@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway-ExtraLight.ttf")
}

body {
  margin: auto;
  text-align: center;
  //font-family: $font;
  letter-spacing: 2px;
  font-size: 12.5px;
}

.pane-content {
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
}

@media screen and (min-width: 815px) {
  .page-taxonomy {
    .pane-content {
      width: 815px;
      margin: auto;
    }
  }
}

@media only screen and (max-device-width: 814px) {
  .page-taxonomy {
    .pane-content {
      max-width: 433px;
      margin: auto;
    }
  }
}

//home
.page-homepage {
  .field-type-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

//contact
.pane-page-logo {
  margin-top: 60px;
}

.pane-content .menu-main-menu {
  text-align: center;
  float: none;
  margin: 45px auto 30px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  li {
    list-style-type: none;
    display: inline-block;
    margin-top: 3px;
  }
  a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: $font;
    &:hover {
      color: #daa675;
    }
  }
  .active {
    color: $color;
  }

}

@media screen and (max-device-width: 376px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    max-width: 365px;
    padding: 0;
    li {
      display: inline;
      margin: 0px 3px;
      line-height: 22px;
    }
    a {
      font-size: 12px;
    }
  }
}

@media screen and (min-device-width: 377px) and (max-device-width: 524px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    max-width: 366px;
    padding: 0;
    li {
      display: inline;
      margin: 0 5px;
    }
    a {
      font-size: 15px;
    }

  }
}

@media screen and (min-device-width: 525px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    max-width: 425px;
    line-height: 20px;
    padding: 0;
    li {
      display: inline;
      margin: 0 10px;
    }
    a {
      font-size: 16px;
    }
  }
}

.pane-content .pane-moon-core-moon-contact-page-top {
  h2 {
    color: $color;
    font-weight: 500;
    font-size: 12.5px;
    text-transform: uppercase;
  }
  span {
    display: block;
    line-height: 1.7;
    font-weight: 500;
    font-size: 19px;
    font-family: $font;
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    line-height: 2;
  }
}

.pane-moon-core-moon-social {
  .pane-content {
    .social-buttons {
      margin: 25px 0 0 0;
      ul {
        padding: 0;
      }
      li {
        display: inline-block;
      }
      a {
        color: $color;
        text-decoration: none;
        text-transform: uppercase;
        margin: 13px;
      }
    }
  }
}

@media screen and (max-device-width: 415px) {
  .pane-moon-core-moon-social {
    .pane-content {
      .social-buttons {
        a {
          margin: 5px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-device-width: 416px) {
  .pane-moon-core-moon-social {
    .pane-content {
      .social-buttons {
        a {
          margin: 10px;
          font-size: 19px;
        }
      }
    }
  }
}

.pane-content {
  h2.pane-title {
    font-weight: normal;
    margin: 40px 0 5px 0;
    text-transform: uppercase;
    font-size: 12.5px;
  }
}

.contact-form {
  margin-bottom: 40px;
  .form-type-textfield {
    input {
      width: 87%;
      max-width: 355px;
      display: inline-block;
      background: #fff;
      border: 1px solid #999;
      padding: 10px 12px;
      outline: none;
      margin: 13px auto;
      font-size: 12.5px;
      font-family: $font;
      box-shadow: 1px 1px 1px #ccc;
      letter-spacing: 2px;
    }
    label {
      margin-top: 25px;
      margin-left: 15px;
      text-align: left;
      clear: both;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      color: #999;
      text-transform: uppercase;
      font-size: 12.5px;
    }
  }
  .form-type-textarea {
    display: inline-block;
    position: relative;
    textarea {
      width: 95%;
      max-width: 400px;
      display: inline-block;
      background: #fff;
      border: 1px solid #999;
      padding: 10px 12px;
      outline: none;
      margin: 13px auto;
      font-size: 12.5px;
      font-family: $font;
      box-shadow: 1px 1px 1px #ccc;
      letter-spacing: 2px;
    }
    label {
      margin-top: 25px;
      text-align: left;
      clear: both;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      color: #999;
      text-transform: uppercase;
      font-size: 12.5px;
      margin-left: -48%;
    }
    .grippie {
      background: none;
      border: none;
    }
  }
  .form-actions {
    height: 60px;
    .form-submit {
      color: $color;
      background-color: #fff;
      border: 1px solid $color;
      line-height: 2.5;
      padding: 5px 15px;
      text-transform: uppercase;
      margin-top: 1px;
      letter-spacing: 2px;
      &:hover {
        border: 2px solid $color;
        //font-size: 16px;
        margin-top: 0;
      }
    }
  }
}

//photo
.view-display-id-photo_type_links, pane-vocabulary-terms {
  .view-content {
    .item-list {
      ul {
        text-align: left;
        padding: 0;
      }
      .views-row {
        display: inline-block;
        .views-field-name {
          .field-content {
            a {
              display: inline-block;
              margin: 0 10px 20px 0;
              text-decoration: none;
              color: #000000;
              text-transform: uppercase;
              font-size: 12.5px;
              &:hover {
                color: $color;
              }
            }
            .active {
              color: $color;
            }
          }
        }
      }
    }
  }
}

.pane-photo {
  .view-content {
    .views-row {
      display: inline-flex;
    }
  }
}

.page-taxonomy, .page-about, .page-video {
  .pane-content {
    .social-buttons {
      text-align: right;
      .footer-social {
        margin-top: 45px;
      }
      li {
        display: inline-block;
        text-align: right;
      }
      a {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 0 0 13px;
        font-size: 12.5px;
        &:hover {
          color: $color;
        }
      }
    }
  }

  .pane-moon-core-moon-footer-contact {
    text-align: right;
    #wrapp-footer_contact {
    }
  }
}

.page-taxonomy {
  .pane-photo {
    .pane-content {
      .view-display-id-photo_main_all {
        .views-row {
          .node-photo {
            .field-name-field-image-multiple {
              img {
                width: 100%;
                height: auto;
                float: left;
              }
              .field-item {
                padding: 0 0.2px 0 0;
              }
            }

          }
        }
      }
    }
  }
}

//about

.pane-menu-menu-language-custom {
  .pane-content {
    .menu-menu-language-custom {
      text-align: right;
      li {
        display: inline-block;
      }
      a {
        color: #000000;
        text-decoration: none;
        text-transform: lowercase;
        margin: 0 0 0 13px;
        font-size: 16px;
        &:hover {
          color: $color;
        }
      }
      .active {
        color: $color;
      }
    }

  }
}

.pane-node-field-about-headline {
  .pane-content {
    .field-name-field-about-headline {
      .field-items {
        .field-item {
          p {
            text-transform: uppercase;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.pane-node-body {
  .pane-content {
    .field-type-text-with-summary {
      max-width: 500px;
      margin: auto;
      border: 2px solid #666;
      padding: 20px;
    }
  }

}

//video
.page-video {
  .view-id-video {
    .views-row {
      .views-field-field-video {
        margin-bottom: 15px;
      }
      .views-field {
        span.field-content {
          text-align: left;
          display: block;
          text-transform: uppercase;
          color: $color;
          padding: 20px 0 10px 20px;
        }
      }
    }
  }
}

.view-display-id-photo_main_all a.article {
  position: relative;
  display: block;
  cursor: pointer;
}

.clearfix:after {
  content: "";
}

.after-hover-content {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  color: white;
  font-size: 20px;
  font-family: "Raleway-ExtraLight";
  background: rgba(218, 166, 117, 0.75);
  text-transform: lowercase;
  z-index: 999;
  top: 0;
  overflow: hidden;
  text-align: left;
  span.teaser-title {
    padding: 30px 0 0 30px;
    display: -webkit-box;
  }

  .field-name-field-headline {
    padding: 10px 0 0 30px;
    display: -webkit-box;
  }

}

.node-type-photo {
  .pane-node-title {
    text-align: left;
    display: block;
    text-transform: uppercase;
    color: $color;
    padding: 20px 0 10px 20px;
  }
}