/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
/* HTML element (SMACSS base) rules */
@import "normalize";
/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; desch*/

// Variables.
$color: #daa675;
$font: "MYRIADPRO-REGULAR" Regular;
$fontRalewayExtraLight: "Raleway-ExtraLight";

.hidden {
  display: none;
}

.clearfix:after {
  content: "";
}

@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url("../fonts/MYRIADPRO-REGULAR.OTF")
}

@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway-ExtraLight.ttf")
}

body {
  margin: auto;
  text-align: center;
  //font-family: $font;
  letter-spacing: 0px;
  font-size: 12.5px;
}

// Start* admin styles
#admin-menu {
  letter-spacing: 0;
}

.pane-pane-messages {
  letter-spacing: 0;
  text-align: left;
}

.pane-content > .tabs {
  position: absolute;
  top: 20px;
  left: 5px;
  > ul.tabs li {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    padding: 1px 7px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// End* admin styles

.panel-display {
  max-width: 814px;
  margin: auto;;
}

@media only screen and (max-width: 825px) {
  .panel-display {
    padding: 0 10px;
  }

  .view-display-id-photo_type_links {
    ul {
      text-align: center !important;
    }
  }
}

//home
.page-homepage {
  .field-type-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.pane-page-logo {
  margin-top: 60px;
  #logo {
    max-width: 120px;
    display: block;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.pane-content .menu-main-menu {
  text-align: center;
  float: none;
  margin: 30px auto 30px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  li {
    list-style-type: none;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 1px;
    a {
      line-height: 13px;
      text-decoration: none;
      color: #000000;
      text-transform: uppercase;
      font-family: $font;
      &:hover, &.active {
        color: #daa675;
      }
    }
  }
}

@media screen and (max-device-width: 376px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    max-width: 365px;
    padding: 0;
    li {
      display: inline;
      margin: 0px 4px;
      line-height: 22px;
    }
    a {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 377px) and (max-device-width: 524px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    max-width: 366px;
    padding: 0;
    li {
      display: inline;
      margin: 0 5px;
    }
    a {
      font-size: 15px;
    }

  }
}

@media screen and (min-width: 525px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    max-width: 425px;
    //line-height: 16px;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 7px;
      padding: 0;
      a {
        font-size: 14px;
      }
    }
  }
}

.pane-content .pane-moon-core-moon-contact-page-top {
  h2 {
    color: $color;
    font-weight: 500;
    font-size: 12.5px;
    text-transform: uppercase;
  }
  span {
    display: block;
    line-height: 1.7;
    font-weight: 500;
    font-size: 19px;
    font-family: $font;
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    line-height: 2;
  }
}

.pane-moon-core-moon-social {
  .pane-content {
    .social-buttons {
      margin: 25px 0 0 0;
      ul {
        padding: 0;
      }
      li {
        display: inline-block;
      }
      a {
        color: $color;
        text-decoration: none;
        text-transform: uppercase;
        margin: 13px;
      }
    }
  }
}

@media screen and (max-device-width: 415px) {
  .pane-moon-core-moon-social {
    .pane-content {
      .social-buttons {
        a {
          margin: 5px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 416px) {
  .pane-moon-core-moon-social {
    .pane-content {
      .social-buttons {
        a {
          margin: 10px;
          font-size: 19px;
        }
      }
    }
  }
}

.pane-content {
  h2.pane-title {
    font-weight: normal;
    margin: 0px 0 10px 0;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.contact-form {
  margin-bottom: 40px;
  .form-type-textfield {
    input {
      width: 87%;
      max-width: 355px;
      display: inline-block;
      background: #fff;
      border: 1px solid #999;
      padding: 10px 12px;
      outline: none;
      margin: 13px auto;
      font-size: 12.5px;
      font-family: $font;
      box-shadow: 1px 1px 1px #ccc;
      letter-spacing: 2px;
    }
    label {
      margin-top: 25px;
      margin-left: 15px;
      text-align: left;
      clear: both;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      color: #999;
      text-transform: uppercase;
      font-size: 12.5px;
    }
  }
  .form-type-textarea {
    display: inline-block;
    position: relative;
    textarea {
      width: 95%;
      max-width: 400px;
      display: inline-block;
      background: #fff;
      border: 1px solid #999;
      padding: 10px 12px;
      outline: none;
      margin: 13px auto;
      font-size: 12.5px;
      font-family: $font;
      box-shadow: 1px 1px 1px #ccc;
      letter-spacing: 2px;
    }
    label {
      margin-top: 25px;
      text-align: left;
      clear: both;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      color: #999;
      text-transform: uppercase;
      font-size: 12.5px;
      margin-left: -48%;
    }
    .grippie {
      background: none;
      border: none;
    }
  }
  .form-actions {
    height: 60px;
    .form-submit {
      color: $color;
      background-color: #fff;
      border: 1px solid $color;
      line-height: 2.5;
      padding: 5px 15px;
      text-transform: uppercase;
      margin-top: 1px;
      letter-spacing: 2px;
      &:hover {
        border: 2px solid $color;
        //font-size: 16px;
        margin-top: 0;
      }
    }
  }
}

//photo
.view-display-id-photo_type_links {
  .view-content {
    .item-list {
      margin: 0 0 20px 0;
      ul {
        text-align: left;
        padding: 0;
        margin: 0;
      }
      .views-row {
        display: inline-block;
        .views-field-name {
          .field-content {
            a {
              display: inline-block;
              margin: 0 10px 0px 0;
              text-decoration: none;
              color: #000000;
              text-transform: uppercase;
              font-size: 12.5px;
              &:hover, &.active {
                color: $color;
              }
            }
          }
        }
      }
    }
  }
}

.page-taxonomy, .page-about, .page-video {
  .pane-content {
    .social-buttons {
      text-align: right;
      .footer-social {
        margin-top: 45px;
      }
      li {
        display: inline-block;
        text-align: right;
      }
      a {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 0 0 13px;
        font-size: 12.5px;
        &:hover {
          color: $color;
        }
      }
    }
  }

  .pane-moon-core-moon-footer-contact {
    text-align: right;
    #wrapp-footer_contact {
    }
  }
}

.page-taxonomy {
  .pane-photo {
    .pane-content {
      .view-display-id-photo_main_all, .view-display-id-photo_main {
        .view-content {
          display: flex;
          flex-flow: row wrap;

          /* Then we define how is distributed the remaining space */
          justify-content: space-around;
        }
        .views-row {
          margin: 2px;
          padding: 0;
          max-width: 402px;

          &.views-row-odd {
            margin: 2px 2px 3px 0;
            @media only screen and (max-width: 825px) {
              margin: 2px 0;
            }
          }
          &.views-row-even {
            margin: 2px 2px 3px 2px;
            @media only screen and (max-width: 825px) {
              margin: 2px 0;
            }
          }
          a.article {

            position: relative;
            display: block;
            cursor: pointer;
            .field-name-field-image-multiple {
              img {
                width: 100%;
                height: auto;
                float: left;
                margin: 0;
                padding: 0;
              }
              .field-item {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

//about
.page-about {
  .pane-menu-menu-language-custom {
    position: absolute;
    right: 0;
    top: -10px;
    .pane-content {
      .menu-menu-language-custom {
        text-align: right;
        li {
          display: inline-block;
        }
        a {
          color: #000000;
          text-decoration: none;
          text-transform: lowercase;
          margin: 0 0 0 10px;
          font-size: 14px;
          &:hover, &.active {
            color: $color;
          }
        }
      }
    }
  }

  .pane-node-field-about-headline {
    .pane-content {
      .field-name-field-about-headline {
        .field-items {
          .field-item {
            p {
              margin: 0;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .pane-node-body {
    margin-top: 25px;
  }
  // about end
}

// @todo: see if it's used..
.pane-node-body {
  .pane-content {
    .field-type-text-with-summary {
      max-width: 500px;
      margin: auto;
      border: 2px solid #666;
      padding: 20px;
    }
  }

}

//video
.page-video {
  .view-id-video {
    .views-row {
      .views-field-field-video {
        margin-bottom: 15px;
      }
      .views-field {
        span.field-content {
          text-align: left;
          display: block;
          text-transform: uppercase;
          color: $color;
          padding: 20px 0 10px 20px;
        }
      }
    }
  }
}

.on-hover-content {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  color: white;
  font-size: 20px;
  font-family: $fontRalewayExtraLight;
  background: rgba(218, 166, 117, 0.75);
  z-index: 999;
  top: 0;
  overflow: hidden;
  text-align: left;
  span.teaser-title {
    padding: 30px 0 0 30px;
    display: -webkit-box;
  }

  .field-name-field-headline {
    padding: 4px 0 0 30px;
    display: -webkit-box;
  }

}

// photo node
.node-type-photo {
  .pane-node-title {
    float: left;
    display: block;
    text-transform: uppercase;
    color: $color;
    padding: 0px 0 0px 25px;
    font-size: 17px;
  }
  .pane-node-field-headline {
    float: left;
    font-size: 17px;
    display: inline-flex;

    &:before {
      content: "/";
      float: left;
      display: inline-flex;
      padding: 0 7px 0 7px;
    }
  }
  .pane-node-field-image-multiple {
    clear: both;
    padding-top: 10px;
    .field-items {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .field-item {
        margin-bottom: 2px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.scrollToTop {
  width: 18px;
  height: 18px;
  background: whiteSmoke;
  z-index: 90;
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  background: url("../images/go_to_top_btn.png") no-repeat 0px 0px;
  span {
    display: none;
  }
  &:hover {
    background: url("../images/go_to_top_btn.png") no-repeat -19px 0px;
  }
}
